/* version smartphone */

@media screen and (max-width:480px) {

    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    /* PARTIE CONTACT */
    .aside {
        width: 100%;
        height: 990px;
        background: #242a30;
        color: white;
        margin-bottom: 15px;
    }

    #container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }


    .photo {
        display: none;
    }

    h1 {
        font-size: 93.75px;
        text-align: center;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bold;
        letter-spacing: -0.85px;
        line-height: 0.85em;
        margin-top: 40px;
    }

    .nom {
        text-align: center;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bold;
        line-height: 0.85em;
        margin: 20px 0;
        letter-spacing: 0.025em;
    }

    .metier {
        text-align: center;
        font-family: 'calibri', sans-serif;
        font-size: 29px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.025em;

    }

    .titreAside {
        color: white;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: normal;
        letter-spacing: 12px;
        margin-top: 40px;
        margin-left: 35px;
        font-size: 40px;
    }

    .barreAside {
        margin-left: 35px;
        height: 3px;
        color: white;
        background-color: white;
        margin-top: 3px;

    }

    /*  PARTIE CONTACT : contact */
    .logoAdresse {
        position: absolute;
        margin-left: 35px;
        margin-top: 27px;
    }

    address {
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        font-style: normal;
        margin-left: 80px;
        margin-top: 20px;
    }

    .logoPhone {
        position: absolute;        
        margin-left: 35px;
        margin-top: 14px;
    }

    .telephone {
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        font-style: normal;
        margin-left: 80px;
        margin-top: 20px;
        list-style: none;
    }

    .logoMail {
        position: absolute;
        margin-left: 35px;
        margin-top: 20px;
    }

    .mail {
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        font-style: normal;
        margin-left: 80px;
        margin-top: 25px;
    }

    .logoLinkedin {
        position: absolute;
        margin-left: 35px;
        margin-top: 25px;
    }

    .linkedin {
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        font-style: normal;
        margin-left: 80px;
        margin-top: 30px;
    }

    .logoGithub {
        position: absolute;
        margin-left: 35px;
        margin-top: 25px;
    }

    .github{
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        font-style: normal;
        margin-left: 80px;
        margin-top: 30px;
    }

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: gray;
    }


    /* PARTIE CONTACT : compétences */
    .listeCompetence {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        margin-left: 60px;
        list-style-image: url("../image/triangle.png");
        margin-top: 25px;
    }

    .etre {
        display: none;
    }


    /* PARTIE CV */
    .cv {
        width: 100%;
    }

    .cv li {
        list-style: none;
    }

    .cv ul {
        margin: 5px 0px 15px 30px;
        line-height: 1.1;
        padding-right: 20px;
    }

    .titreCv {
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bold;
        font-size: 35px;
        text-transform: uppercase;
        color: #242a30;
        letter-spacing: 1px;
        margin-top: 15px;
        padding: 0 20px;
    }

    .barreCv {
        margin-left: 20px;
        height: 3px;
        color: #242a30;
        background-color: #242a30;
    }

    .date {
        font-size: 15px;
        color: #777777;
    }

    .emploi {
        font-size: 19px;
        color: #242a30;
        font-weight: bold;
    }

    .lienBlog {
        color: #242a30;
    }

    .employeur {
        font-size: 15px;
        color: #777777;
        font-weight: bold;
    }

    .fonction {
        color: #242a30;
        margin-left: 20px;
    }

    .categorie {
        color: #242a30;
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 30px;
        margin-top: 25px;
        margin-bottom: -5px;
    }

    .phoneImage {
        display: none;
    }

    .formation {
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        font-weight: bold;
        color: #242a30;
    }

    .ecole {
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        font-weight: 500;
        color: #777777;
    }

    .conteneurImage {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        flex-wrap: wrap;
        padding: 0 10px;
    }

    .conteneurImage img {
        height: 120px;
    }
}